@model IEnumerable<Todo>

<style>
    .custom-card {
       width: 400px;
       height: 240px;
       box-shadow: rgb(34 173 107 / 10%) 4px 0px 20px 11px;
       border-radius: 8px;
       padding: 30px;
       
       transition: .5s;
    }
    
    .custom-card:hover {
        box-shadow: rgb(34 173 107 / 30%) 4px 0px 20px 11px;
        transform: scale(1.05, 1.05);
    }

</style>


@if (Model.Count() != 0)
{
    <div class="row justify-content-center justify-content-lg-start mt-3 gap-4">
        @foreach (Todo todo in Model)
        {
            <div class="col-4 custom-card" style="min-width: 18rem">
                <div class="row h-100 justify-content-between m-0">
                    <div class="row h-75 m-0 gap-1 p-0 flex-nowrap">
                        <div class="col-3 p-0">
                            <img src="imgs/taskIcon.gif" width="100%" alt="Icono de tarea">
                        </div>
                        <div class="col-12 col-md-10">
                            <h5 class="card-title">@todo.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@todo.EndDate.ToString("dd/mm/yyyy hh:mm:ss t")</h6>
                            <p class="card-text d-inline-block text " style="text-overflow: ellipsis" >@todo.Description.</p>
                        </div>
                    </div>
                    <div class="row justify-content-between m-0">
                        @Html.ActionLink("Editar", "Update", new { todo.Id }, new { @class = "btn btn-primary   w-25" })
                        @Html.ActionLink("Eliminar", "Delete", new { todo.Id }, new { @class = "btn  btn-danger w-25" })
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center"> No hay datos para mostrar </p>
}